### Imports

In [1]:
# Importing essential libraries

# pandas and numpy for data manipulation
import numpy as np
import pandas as pd

# matplotlib and seaborn for visuilization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Display all the columns of the dataframe
pd.pandas.set_option('display.max_columns',None)

# No warnings
import warnings
warnings.filterwarnings('ignore')

### Load in the Data and Examine

In [2]:
# %%HTML
# <style type="text/css">
# table.dataframe td, table.dataframe th {
#     border: 1px  black solid !important;
#   color: black !important;
# }
# </style>

In [3]:
# Read in data into dataframe
file_train=r'D:\Deloitte\case study\train.csv'
file_test=r'D:\Deloitte\case study\test.xlsx'

ab_train=pd.read_csv(file_train)
ab_test=pd.read_excel(file_test)

In [4]:
# Returns the number of Rows and Columns in train data
print('shape of train data: {}'.format(ab_train.shape))

# Returns the number of Rows and Columns in test data
print('shape of test data: {}'.format(ab_test.shape))

shape of train data: (49999, 30)
shape of test data: (24111, 29)

In [5]:
# ab_test does not have the outcome variable 
# In order to combine the two we will add the response variable to ab_test

ab_test['log_price']=np.nan

* combine the two datasets to pre-process the data together since the data on which the model is trained should
 undergo the same preprocessing as the data on which the predictions are made

In [6]:
# creating identifier column for train and test
ab_train['data']='train'
ab_test['data']='test'

# the columns in the two data frames should be in the same order to enable concatenation
ab_test=ab_test[ab_train.columns]

ab_all=pd.concat([ab_train,ab_test],axis=0)

In [7]:
# Returns top 5 rows from the dataset
ab_all.head()

,id,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,description,first_review,host_has_profile_pic,host_identity_verified,host_response_rate,host_since,instant_bookable,last_review,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds,log_price,,data
0,6901257,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,NYC,"Beautiful, sunlit brownstone 1-bedroom in the ...",6/18/2016,t,t,NaN,3/26/2012,f,7/18/2016,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0,5.010635,NaN,train
1,6304928,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,NYC,Enjoy travelling during your stay in Manhattan...,8/5/2017,t,f,100%,6/19/2017,t,9/23/2017,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0,5.129899,NaN,train
2,7919400,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,NYC,The Oasis comes complete with a full backyard ...,4/30/2017,t,t,100%,10/25/2016,t,9/14/2017,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0,4.976734,NaN,train
3,13418779,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,SF,This light-filled home-away-from-home is super...,NaN,t,t,NaN,4/19/2015,f,NaN,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117,2.0,2.0,6.620073,NaN,train
4,3808709,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,DC,"Cool, cozy, and comfortable studio located in ...",5/12/2015,t,t,100%,3/1/2015,t,1/22/2017,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0,4.744932,NaN,train

In [8]:
ab=ab_all.copy()

# Returns the number of Rows and Columns of overall data[both train and test]
print('shape of overall data: {}'.format(ab.shape))

shape of overall data: (74110, 31)

###### 1. 'id' ---> drop this column while model building

###### 2. 'property_type' ----> create dummies based on dependent variable

###### 3. 'room_type' ---> create dummies

###### 4. 'amenities' --->Drop in this notebook. we will create MultiLabelBinarizer in 'amenities' separate notebook.
* we concat both and use them in final Model

###### 5. 'accommodates' --->  let it be

###### 6.  'bathrooms' ---> bathrooms cannot be 1.5,2.5.... 
* so i will consider 0.5 to 1,1.5 to 2,2.5 to 3,3.5 to 4,4.5 to 5,5.5 to 6,6.5 and 7.5 to 7
* Replace missing value to 0.0 bathrooms

###### 7.  'bed_type' ---> create Futon,Pull-out Sofa, Airbed, Couch to 'other' and then create dummies

###### 8. 'cancellation_policy'--->super_strict_30 and super_strict_60 to 'super_strict' and then create dummies

###### 9. 'cleaning_fee' ---> It is boolean data type.
* In feature engineering, we will create True to 1 and False to 0

###### 10. 'city' ---> Due to less frequency count in some variables. lets club some features like
* SF and DC which has >3000 frequency count to one variable ie., SF_DC
* Chicago and Boston which has <3000 frequency count to one variable ie.,chicago_boston
* Then create dummies

###### 11. 'description' ---> lets try NLP by using tfidf or count vectorizer. unstructured data 

###### 12. 'first_review' ---> Both first_review and last_review have almost 21.4% values are Missing values.
* Since they are directly correlated we will drop first_review and make use last review.

###### 13. 'host_has_profile_pic' ---> I think people use different images like celebrity photo and some use their own photo.
* It will be Imbalanced because one category frequency 99.4% of data.
* I think its better to drop
* Beacause once the host identity is verified then only it will allows the host to book

###### 14. 'host_identity_verified' ---> I am assuming 't' tobe True or correct match and 'f' to be False or Incorrect match
* Replace missing value with f 
* lets create t to 1 and f to 0

###### 15. 'host_response_rate' Replace '%' with '' (empty space) and then convert it numeric
* It has almost 25% of the missing values. 
* create indicator column missing-->0, non-missing-->1

###### 16. 'host_since' ---> ' lets covert into date-time format and extract features out of it and 
* Replace missing with min year

###### 17. 'instant_bookable' ---> lets create  t to 1 and f to 0
* In cross table, we can see frequency count of combinations.
* It is giving me like instant_bookable f and host_identity_verified f is 11098 which is almost 22%.
* we have to take care of instant_bookable f and host_identity_verified t is 25671 which is almost 51%. means we have to instant booking availability. so that we can make profits out of it

###### 18. 'last_review' --->Since there are almost 21.4% values are Missing.
* replace missing with min 

###### 19. 'latitude' --> convert to x,y,z co-ordinates
###### 20. 'longitude' ---> convert to x,y,z co-ordinates
* x=cos(lat)*cos(lon)
* y=cos(lat)*sin(lon)
* z=sin(lat)

###### 21. 'name' ---> lets try NLP by using tfidf or count vectorizer 

###### 22. 'neighbourhood'--->Drop this variable since it has lot of unique values

###### 23. 'number of reviews' ---> let it be

###### 24. 'review_scores_rating' --->Since there are almost 22.6% values are Missing.
* Replace  missing-->0

###### 25. 'thumbnail_url' ---> for building Ml model, lets drop this variable
* we can CNN Deep Learning. But for now lets drop this column

###### 26. 'zipcode' --->  Lets drop this variable. 
* Make use of latitude, longitude 

###### 27. 'bedrooms' ---> Replace missing value with 0.0

###### 28. 'beds' ---> Replace missing value with 0.0

###### 29. 'log_price' ---> I am assuming that log_price is log transformed prices. Target variable.

###### 30. ' ' ---> drop this column. It is junk and the whole column has NAN values.

In [9]:
print('shape of data before: {}'.format(len(ab.columns)))
ab=ab.drop([' ','amenities','first_review','host_has_profile_pic', 'zipcode',
             'description', 'name','neighbourhood','thumbnail_url'],axis=1)
print('shape of data after: {}'.format(len(ab.columns)))

shape of data before: 31
shape of data after: 22

In [10]:
ab.columns

Index(['id', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bed_type', 'cancellation_policy', 'cleaning_fee', 'city',
       'host_identity_verified', 'host_response_rate', 'host_since',
       'instant_bookable', 'last_review', 'latitude', 'longitude',
       'number_of_reviews', 'review_scores_rating', 'bedrooms', 'beds',
       'log_price', 'data'],
      dtype='object')

In [11]:
# Returns basic information on all columns
ab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74110 entries, 0 to 24110
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74110 non-null  int64
 1   property_type           74110 non-null  object
 2   room_type               74110 non-null  object
 3   accommodates            74110 non-null  int64
 4   bathrooms               73910 non-null  float64
 5   bed_type                74110 non-null  object
 6   cancellation_policy     74110 non-null  object
 7   cleaning_fee            74110 non-null  bool
 8   city                    74110 non-null  object
 9   host_identity_verified  73922 non-null  object
 10  host_response_rate      55811 non-null  object
 11  host_since              73922 non-null  object
 12  instant_bookable        74110 non-null  object
 13  last_review             58283 non-null  object
 14  latitude                74110 non-null  float64
 15  longitude               74110 non-null  float64
 16  number_of_reviews       74110 non-null  int64
 17  review_scores_rating    57388 non-null  float64
 18  bedrooms                74019 non-null  float64
 19  beds                    73979 non-null  float64
 20  log_price               49999 non-null  float64
 21  data                    74110 non-null  object
dtypes: bool(1), float64(7), int64(3), object(11)
memory usage: 12.5+ MB

In [12]:
ab.isnull().sum()

id                            0
property_type                 0
room_type                     0
accommodates                  0
bathrooms                   200
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
host_identity_verified      188
host_response_rate        18299
host_since                  188
instant_bookable              0
last_review               15827
latitude                      0
longitude                     0
number_of_reviews             0
review_scores_rating      16722
bedrooms                     91
beds                        131
log_price                 24111
data                          0
dtype: int64

In [13]:
# property_type ---> create dummies based on some frequency cut off
ab['property_type'].value_counts()

Apartment             49003
House                 16511
Condominium            2657
Townhouse              1692
Loft                   1244
Other                   607
Guesthouse              498
Bed & Breakfast         462
Bungalow                366
Villa                   179
Dorm                    142
Guest suite             123
Camper/RV                94
Timeshare                77
Cabin                    72
In-law                   71
Hostel                   70
Boutique hotel           69
Boat                     65
Serviced apartment       21
Tent                     18
Castle                   13
Vacation home            11
Yurt                      9
Hut                       8
Treehouse                 7
Chalet                    6
Earth House               4
Tipi                      3
Train                     2
Cave                      2
Parking Space             1
Lighthouse                1
Island                    1
Casa particular           1
Name: property_type, dtype: int64

In [14]:
# 'bathrooms' ---> bathrooms cannot be 1.5,2.5.... 
# so i will club or consider 0.5 to 1,1.5 to 2,2.5 to 3,3.5 to 4,4.5 to 5,5.5 to 6,6.5 and 7.5 to 8
# Replace missing value to 0.0 bathrooms

ab['bathrooms']=ab['bathrooms'].replace({0.5:1,1.5:2,2.5:3,3.5:4,4.5:5,5.5:6,6.5:7,7.5:8})
ab['bathrooms']=np.where(ab['bathrooms'].isnull(),0.0,ab['bathrooms'])

In [15]:
# 'bed_type'---> create Futon,Pull-out Sofa, Airbed, Couch to 'other' and then create dummies
ab.loc[~ab['bed_type'].isin(['Real Bed']), 'bed_type'] = 'Other'
ab['bed_type'].value_counts()

Real Bed    72027
Other        2083
Name: bed_type, dtype: int64

In [16]:
# 'cancellation_policy'--->super_strict_30 and super_strict_60 to 'super_strict' and then create dummies
ab.loc[ab['cancellation_policy'].isin(['super_strict_30','super_strict_60']),
         'cancellation_policy']='super_strict'
ab['cancellation_policy'].value_counts()

strict          32373
flexible        22545
moderate        19063
super_strict      129
Name: cancellation_policy, dtype: int64

In [17]:
# 'cleaning_fee' ---> It is boolean data type. we will create True to 1 and False to 0
ab['cleaning_fee']=np.where(ab['cleaning_fee']==True,1,0)
ab['cleaning_fee'].value_counts()

1    54402
0    19708
Name: cleaning_fee, dtype: int64

In [18]:
# 'city'---> Due to less freqency count in some variables. lets club some features like
# SF and DC which has >5000 frequency count to one variable ie., SF_DC
# Chicago and Boston which has <5000 frequency count to one variable ie., other
# create dummies
ab.loc[ab['city'].isin(['SF','DC']),'city']='SF_DC'
ab.loc[ab['city'].isin(['Chicago','Boston']),'city']='chicago_boston'
ab['city'].value_counts()

NYC               32348
LA                22453
SF_DC             12122
chicago_boston     7187
Name: city, dtype: int64

In [19]:
# 'host_identity_verified'---> I am assuming t tobe True or correct match and f to be False or Incorrect match
# Replace missig value with f 
# lets create  t to 1 and f to 0
ab['host_identity_verified']=np.where(ab['host_identity_verified'].isnull(),'f',ab['host_identity_verified'])
ab['host_identity_verified']=np.where(ab['host_identity_verified']=='t',1,0)
ab['host_identity_verified'].value_counts()

1    49748
0    24362
Name: host_identity_verified, dtype: int64

In [20]:
# 'host_response_rate'---> Replace '%' with '' (empty space) and then convert it numeric
# It has almost 25% of the missing values. 
# create indicator column missing-->0, non-missing-->1
ab['host_response_rate']=pd.to_numeric(ab['host_response_rate'].str.replace('%',''))
ab['host_response_rate']=np.where(ab['host_response_rate'].isnull(),0,1)
ab['host_response_rate'].value_counts()

1    37661
0    36449
Name: host_response_rate, dtype: int64

In [21]:
# 'host_since'--> lets covert into date-time format and extract features out of it and 
# Replace missing with min
ab['host_since']=pd.to_datetime(ab['host_since'],format='%m/%d/%Y',errors='coerce').dt.year
ab.loc[ab['host_since'].isnull(),'host_since']=ab.loc[ab['data']=='train','host_since'].min()
ab['host_since'].value_counts()

2008.0    24293
2015.0    10579
2014.0     9189
2016.0     8876
2013.0     7279
2012.0     5595
2017.0     3350
2011.0     3269
2010.0     1212
2009.0      468
Name: host_since, dtype: int64

In [22]:
# 'instant_bookable'---> lets create  t to 1 and f to 0
ab['instant_bookable']=np.where(ab['instant_bookable']=='t',1,0)
ab['instant_bookable'].value_counts()

0    54660
1    19450
Name: instant_bookable, dtype: int64

In [23]:
# 'last_review'--> Since there are almost 21.4% values are Missing.
# replace missing with min
ab['last_review']=pd.to_datetime(ab['last_review'],format='%m/%d/%Y',errors='coerce').dt.year
ab.loc[ab['last_review'].isnull(),'last_review']=ab.loc[ab['data']=='train','last_review'].min()
ab['last_review'].value_counts()

2009.0    34796
2017.0    30220
2016.0     6665
2015.0     1990
2014.0      304
2013.0       89
2012.0       35
2011.0        8
2010.0        3
Name: last_review, dtype: int64

In [24]:
#  'latitude' --> convert to x,y,z co-ordinates
#  'longitude' ---> convert to x,y,z co-ordinates
# After converting drop lat and long. Make x, y, z
x=np.cos(ab['latitude'])*np.cos(ab['longitude'])
y=np.cos(ab['latitude'])*np.sin(ab['longitude'])
z=np.sin(ab['latitude'])
lat_long=pd.DataFrame({'x':x,'y':y,'z':z})
lat_long.head()

          x         y         z
0 -0.161757 -0.976315  0.143682
1 -0.160463 -0.984225  0.074520
2 -0.116005 -0.992714  0.032589
3 -0.993264 -0.090131  0.072828
4 -0.022117 -0.336795  0.941318

In [25]:
ab.drop(['latitude','longitude'],axis=1,inplace=True)
ab=pd.concat([ab,lat_long],axis=1)

In [26]:
# 'review_scores_rating' --> Since there are almost 22.6% values are Missing.
# Replace  missing-->0
ab['review_scores_rating']=pd.to_numeric(np.where(ab['review_scores_rating'].isnull(),0,ab['review_scores_rating']))
ab['review_scores_rating'].value_counts()

0.0      16722
100.0    16215
98.0      4374
97.0      4087
96.0      4081
95.0      3713
93.0      3647
90.0      2852
99.0      2631
94.0      2618
80.0      2163
92.0      2064
91.0      1615
89.0      1120
87.0      1118
88.0      1056
85.0       625
86.0       512
60.0       444
84.0       438
83.0       403
82.0       211
70.0       196
73.0       157
81.0       126
75.0       101
20.0        97
78.0        94
40.0        90
79.0        83
76.0        76
77.0        74
67.0        66
74.0        39
72.0        38
50.0        30
65.0        28
68.0        20
71.0        14
69.0        13
63.0        11
53.0        10
64.0        10
47.0         5
30.0         4
62.0         3
55.0         3
57.0         3
66.0         3
27.0         2
56.0         1
49.0         1
35.0         1
54.0         1
58.0         1
Name: review_scores_rating, dtype: int64

In [27]:
# 'bedrooms'---> Replace missing value with median
ab.loc[ab['bedrooms'].isnull(),'bedrooms']=ab.loc[ab['data']=='train','bedrooms'].median()

In [28]:
# 'beds'---> Replace missing value with median
ab.loc[ab['beds'].isnull(),'beds']=ab.loc[ab['data']=='train','beds'].median()

In [29]:
cat_cols=ab.select_dtypes('object').columns
cat_cols

Index(['property_type', 'room_type', 'bed_type', 'cancellation_policy', 'city',
       'data'],
      dtype='object')

In [30]:
cat_cols=ab.select_dtypes('object').columns

for col in cat_cols[:-1]:
    freqs=ab[col].value_counts()
    k=freqs.index[freqs>20][:-1]
    for cat in k:
        name=col+'_'+cat
        ab[name]=(ab[col]==cat).astype(int)
    del ab[col]
    print(col)

property_type
room_type
bed_type
cancellation_policy
city

In [31]:
ab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74110 entries, 0 to 24110
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             74110 non-null  int64
 1   accommodates                   74110 non-null  int64
 2   bathrooms                      74110 non-null  float64
 3   cleaning_fee                   74110 non-null  int32
 4   host_identity_verified         74110 non-null  int32
 5   host_response_rate             74110 non-null  int32
 6   host_since                     74110 non-null  float64
 7   instant_bookable               74110 non-null  int32
 8   last_review                    74110 non-null  float64
 9   number_of_reviews              74110 non-null  int64
 10  review_scores_rating           74110 non-null  float64
 11  bedrooms                       74110 non-null  float64
 12  beds                           74110 non-null  float64
 13  log_price                      49999 non-null  float64
 14  data                           74110 non-null  object
 15  x                              74110 non-null  float64
 16  y                              74110 non-null  float64
 17  z                              74110 non-null  float64
 18  property_type_Apartment        74110 non-null  int32
 19  property_type_House            74110 non-null  int32
 20  property_type_Condominium      74110 non-null  int32
 21  property_type_Townhouse        74110 non-null  int32
 22  property_type_Loft             74110 non-null  int32
 23  property_type_Other            74110 non-null  int32
 24  property_type_Guesthouse       74110 non-null  int32
 25  property_type_Bed & Breakfast  74110 non-null  int32
 26  property_type_Bungalow         74110 non-null  int32
 27  property_type_Villa            74110 non-null  int32
 28  property_type_Dorm             74110 non-null  int32
 29  property_type_Guest suite      74110 non-null  int32
 30  property_type_Camper/RV        74110 non-null  int32
 31  property_type_Timeshare        74110 non-null  int32
 32  property_type_Cabin            74110 non-null  int32
 33  property_type_In-law           74110 non-null  int32
 34  property_type_Hostel           74110 non-null  int32
 35  property_type_Boutique hotel   74110 non-null  int32
 36  property_type_Boat             74110 non-null  int32
 37  room_type_Entire home/apt      74110 non-null  int32
 38  room_type_Private room         74110 non-null  int32
 39  bed_type_Real Bed              74110 non-null  int32
 40  cancellation_policy_strict     74110 non-null  int32
 41  cancellation_policy_flexible   74110 non-null  int32
 42  cancellation_policy_moderate   74110 non-null  int32
 43  city_NYC                       74110 non-null  int32
 44  city_LA                        74110 non-null  int32
 45  city_SF_DC                     74110 non-null  int32
dtypes: float64(10), int32(32), int64(3), object(1)
memory usage: 17.5+ MB

In [32]:
ab.head()

,id,accommodates,bathrooms,cleaning_fee,host_identity_verified,host_response_rate,host_since,instant_bookable,last_review,number_of_reviews,review_scores_rating,bedrooms,beds,log_price,data,x,y,z,property_type_Apartment,property_type_House,property_type_Condominium,property_type_Townhouse,property_type_Loft,property_type_Other,property_type_Guesthouse,property_type_Bed & Breakfast,property_type_Bungalow,property_type_Villa,property_type_Dorm,property_type_Guest suite,property_type_Camper/RV,property_type_Timeshare,property_type_Cabin,property_type_In-law,property_type_Hostel,property_type_Boutique hotel,property_type_Boat,room_type_Entire home/apt,room_type_Private room,bed_type_Real Bed,cancellation_policy_strict,cancellation_policy_flexible,cancellation_policy_moderate,city_NYC,city_LA,city_SF_DC
0,6901257,3,1.0,1,1,0,2012.0,0,2016.0,2,100.0,1.0,1.0,5.010635,train,-0.161757,-0.976315,0.143682,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,1,0,0
1,6304928,7,1.0,1,0,1,2017.0,1,2017.0,6,93.0,3.0,3.0,5.129899,train,-0.160463,-0.984225,0.074520,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,1,0,0
2,7919400,5,1.0,1,1,1,2016.0,1,2017.0,10,92.0,1.0,3.0,4.976734,train,-0.116005,-0.992714,0.032589,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1,0,0
3,13418779,4,1.0,1,1,0,2015.0,0,2009.0,0,0.0,2.0,2.0,6.620073,train,-0.993264,-0.090131,0.072828,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,1
4,3808709,2,1.0,1,1,1,2015.0,1,2017.0,4,40.0,0.0,1.0,4.744932,train,-0.022117,-0.336795,0.941318,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1

In [33]:
# Data preprocessing complete - the data is in the expected format

In [34]:
ab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74110 entries, 0 to 24110
Data columns (total 46 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             74110 non-null  int64
 1   accommodates                   74110 non-null  int64
 2   bathrooms                      74110 non-null  float64
 3   cleaning_fee                   74110 non-null  int32
 4   host_identity_verified         74110 non-null  int32
 5   host_response_rate             74110 non-null  int32
 6   host_since                     74110 non-null  float64
 7   instant_bookable               74110 non-null  int32
 8   last_review                    74110 non-null  float64
 9   number_of_reviews              74110 non-null  int64
 10  review_scores_rating           74110 non-null  float64
 11  bedrooms                       74110 non-null  float64
 12  beds                           74110 non-null  float64
 13  log_price                      49999 non-null  float64
 14  data                           74110 non-null  object
 15  x                              74110 non-null  float64
 16  y                              74110 non-null  float64
 17  z                              74110 non-null  float64
 18  property_type_Apartment        74110 non-null  int32
 19  property_type_House            74110 non-null  int32
 20  property_type_Condominium      74110 non-null  int32
 21  property_type_Townhouse        74110 non-null  int32
 22  property_type_Loft             74110 non-null  int32
 23  property_type_Other            74110 non-null  int32
 24  property_type_Guesthouse       74110 non-null  int32
 25  property_type_Bed & Breakfast  74110 non-null  int32
 26  property_type_Bungalow         74110 non-null  int32
 27  property_type_Villa            74110 non-null  int32
 28  property_type_Dorm             74110 non-null  int32
 29  property_type_Guest suite      74110 non-null  int32
 30  property_type_Camper/RV        74110 non-null  int32
 31  property_type_Timeshare        74110 non-null  int32
 32  property_type_Cabin            74110 non-null  int32
 33  property_type_In-law           74110 non-null  int32
 34  property_type_Hostel           74110 non-null  int32
 35  property_type_Boutique hotel   74110 non-null  int32
 36  property_type_Boat             74110 non-null  int32
 37  room_type_Entire home/apt      74110 non-null  int32
 38  room_type_Private room         74110 non-null  int32
 39  bed_type_Real Bed              74110 non-null  int32
 40  cancellation_policy_strict     74110 non-null  int32
 41  cancellation_policy_flexible   74110 non-null  int32
 42  cancellation_policy_moderate   74110 non-null  int32
 43  city_NYC                       74110 non-null  int32
 44  city_LA                        74110 non-null  int32
 45  city_SF_DC                     74110 non-null  int32
dtypes: float64(10), int32(32), int64(3), object(1)
memory usage: 17.5+ MB

In [35]:
ab.isnull().sum()

id                                   0
accommodates                         0
bathrooms                            0
cleaning_fee                         0
host_identity_verified               0
host_response_rate                   0
host_since                           0
instant_bookable                     0
last_review                          0
number_of_reviews                    0
review_scores_rating                 0
bedrooms                             0
beds                                 0
log_price                        24111
data                                 0
x                                    0
y                                    0
z                                    0
property_type_Apartment              0
property_type_House                  0
property_type_Condominium            0
property_type_Townhouse              0
property_type_Loft                   0
property_type_Other                  0
property_type_Guesthouse             0
property_type_Bed & Breakfast        0
property_type_Bungalow               0
property_type_Villa                  0
property_type_Dorm                   0
property_type_Guest suite            0
property_type_Camper/RV              0
property_type_Timeshare              0
property_type_Cabin                  0
property_type_In-law                 0
property_type_Hostel                 0
property_type_Boutique hotel         0
property_type_Boat                   0
room_type_Entire home/apt            0
room_type_Private room               0
bed_type_Real Bed                    0
cancellation_policy_strict           0
cancellation_policy_flexible         0
cancellation_policy_moderate         0
city_NYC                             0
city_LA                              0
city_SF_DC                           0
dtype: int64

Let's separate our two data sets and remove the unnecessary columns that we added while combining them.

* Separate the train and test data
* We will break the train data further into train and validation datasets

In [36]:
#Separate the train and test data
ab_train=ab[ab['data']=='train']
del ab_train['data']

ab_test=ab[ab['data']=='test']
ab_test.drop(['log_price','data'],axis=1,inplace=True)

print('shape of train data after feature engineeing: {}'.format(ab_train.shape))
print('shape of test data after feature engineeing: {}'.format(ab_test.shape))

shape of train data after feature engineeing: (49999, 45)
shape of test data after feature engineeing: (24111, 44)

## Feature Scaling

In [37]:
feature_scale=[feature for feature in ab_train.columns if feature not in ['id','log_price']]

from sklearn.preprocessing import MinMaxScaler

In [39]:
scaler=MinMaxScaler()

In [40]:
scaler.fit(ab_train[feature_scale])

MinMaxScaler()

In [41]:
scaler.transform(ab_train[feature_scale])

array([[0.13333333, 0.125     , 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.4       , 0.125     , 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.26666667, 0.125     , 1.        , ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.26666667, 0.125     , 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.06666667, 0.125     , 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.06666667, 0.125     , 0.        , ..., 1.        , 0.        ,
        0.        ]])

In [42]:
# transform the train and add on the Id and SalePrice variables
scaled_features=pd.DataFrame(scaler.transform(ab_train[feature_scale]), columns=feature_scale)

data_train=pd.concat([ab_train[['id','log_price']].reset_index(drop=True),
                    scaled_features],axis=1)

In [43]:
data_train.to_csv('train.csv',index=False)

#### test data

In [44]:
feature_scale_test=[feature for feature in ab_test.columns if feature not in ['id']]
scaler.transform(ab_test[feature_scale_test])

array([[0.06666667, 0.125     , 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.2       , 0.125     , 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.06666667, 0.125     , 0.        , ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.26666667, 0.125     , 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.06666667, 0.125     , 1.        , ..., 1.        , 0.        ,
        0.        ],
       [0.2       , 0.125     , 0.        , ..., 0.        , 1.        ,
        0.        ]])

In [45]:
# transform the test and add on the Id variables
scaled_features_test=pd.DataFrame(scaler.transform(ab_test[feature_scale_test]), columns=feature_scale_test)

data_test=pd.concat([ab_test[['id']].reset_index(drop=True),
                    scaled_features_test],axis=1)

In [46]:
data_test.to_excel('test.xlsx',index=False)